<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>HireFront Home</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    {% block head_views %}{% endblock head_views %}
{#    {% comment %}<!-- Jquery uploader -->#}
{#    <link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" href="/static/css/style.css">#}
{#    <link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-responsive.min.css">#}
{#    <link rel="stylesheet" href="http://blueimp.github.com/Bootstrap-Image-Gallery/css/bootstrap-image-gallery.min.css">#}
{#    <link rel="stylesheet" href="/static/css/jquery.fileupload-ui.css">#}
{#    <noscript><link rel="stylesheet" href="/static/css/jquery.fileupload-ui-noscript.css"></noscript>{% endcomment %}#}
</head>
<body>
    <!-- Bootstrap -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    {% comment %}<!-- Jquery Upload -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="/static/js/vendor/jquery.ui.widget.js"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="http://blueimp.github.com/JavaScript-Templates/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="http://blueimp.github.com/JavaScript-Canvas-to-Blob/canvas-to-blob.min.js"></script>
    <!-- Bootstrap JS and Bootstrap Image Gallery are not required, but included for the demo -->
    <script src="http://blueimp.github.com/cdn/js/bootstrap.min.js"></script>
    <script src="http://blueimp.github.com/Bootstrap-Image-Gallery/js/bootstrap-image-gallery.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="/static/js/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="/static/js/jquery.fileupload.js"></script>
    <!-- The File Upload file processing plugin -->
    <script src="/static/js/jquery.fileupload-fp.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="/static/js/jquery.fileupload-ui.js"></script>
    <!-- The main application script -->
    <script src="/static/js/main.js"></script>
    <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
    <!--[if gte IE 8]><script src="/static/js/cors/jquery.xdr-transport.js"></script><![endif]-->{% endcomment %}
    {% block cvpdf %}
    {% endblock cvpdf %}
    <div class="container container_header">
            <div class="span12">
                <div class="span5 offset3">
                    <a href="/"><img src="/static/img/hirefront.jpg"></a><br>
                    <cite>Intelligent System of Job Interview</cite>
                </div>
            </div>
    </div>
    {% block contenido %}{% endblock contenido %}
    {% block flash %}{% endblock flash %}
</body>
</html>