{% extends 'base2.html' %}
{% block sessions %}
    <button class="btn btn-inverse"><i class="icon-user icon-white"> </i> Close Session</button>
{% endblock sessions %}
{% block contenido %}
    <div class="span12 offset1"><br><br><br>
        <h4>Bienvenido:<em class="muted">{{ enterprise.name }} {{ enterprise.last_name }}</em> </h4>
    </div>

{% endblock contenido %}

{% block contenido2 %}
<br><br><br><br>

<div class="span9 offset6 pull-left" style="margin-top: 4%;">
    <a href="#modal" role="button" class="btn btn-inverse" data-toggle="modal">Perfil</a>
    <div class="pull-right">
        <a href="/{{ enterprise.email }}/Perfil/calendario" class="btn btn-inverse"> Calendar Interviews</a>
    </div>
</div>

{% endblock contenido2 %}