body{
    text-align: center;
    font-size: 16px;
}

.container_header{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}
.container_header2{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.container_viewEnterprise{
    margin-top: 2%;
}

.flash{
    margin-top: 27%;
}


#bodytable_interviewed{
    text-align: center;
}

#table_interviewed thead tr td{
    text-align: center;
}